{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="card p-5 mt-5 w-50 shadow mx-auto">
        <h3 class="text-center mb-4 ">Vérifier votre boîte mail</h3>
        <p class="text-justify">
            Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ tokenLifetime|date('g') }} heure.
        </p>
        <p class="text-muted">Si vous ne recevez pas d'e-mail, vérifiez vos courrier indésirable (spam) ou votre adresse e-mail.</p>
        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-outline-primary">Réessayer</a>
    </div>

{% endblock %}
