{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="card p-5 mt-5 w-50 shadow mx-auto">
        <h3 class="text-center mb-4">Réinitialiser votre mot de passe</h3>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary mt-4">Réinitialiser</button>
        {{ form_end(requestForm) }}
    </div>

{% endblock %}
