{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}


        <div class="card p-5 mt-5 w-50 shadow mx-auto">
                <h3>Réinitialiser votre mot de passe</h3>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary mt-3">Réinitialiser</button>
                {{ form_end(resetForm) }}
        </div>

{% endblock %}
