<form method="post" action="{{ path('category_delete', {id:category.id}) }}" style="display:inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete'~category.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
