{% extends 'base.html.twig' %}

{% block title %}Modifier Categorie {% endblock %}

{% block body %}
    <div class="card p-5 mt-5 w-50 shadow mx-auto">
        <h3>Modifier la catégorie : </h3>

        {{ include('category/_form.html.twig') }}
    </div>


    <a href="{{ path('category') }}">Retour</a>

{% endblock %}
