{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a type="button" class="btn btn-primary" href="{{ path('category_new') }}">Créer une catégorie</a>
    {% endif %}

    <div class="container">
        <h1>Liste des catégories</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>

                        <a href="{{ path('category_edit', {'id': category.id}) }}" type="button" class="btn btn-warning">Edit</a>
                        {{ include('category/_delete_form.html.twig') }}
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
