{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <a href="{{ path('category') }}">Retour</a>

    <div class="card p-5 mt-5 w-50 shadow mx-auto">
        <h3 class="text-center mb-4">Créer une catégorie</h3>
        {{ include('category/_form.html.twig') }}
    </div>

{% endblock %}
