{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<div class="container">
    <ul>
        {% for room in rooms %}
            <li>{{ room.id }} {{ room.name }} {{ room.city }}</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
