<a {% for attr, value in options | merge({class:'btn btn-secondary ml-2'}) %} {{ attr }}='{{ value }}' {% endfor %}>
{{ title }}
    <span class="float-right ml-2">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-down"></i>
            {% else %}
                <i class="fa fa-sort-up"></i>
            {% endif %}
        {% else %}

            <i class="fa fa-sort"></i>
        {% endif %}
    </span>
</a>
